{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block content %}        
<header>
    <h1><a href="{{ BASEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> :
        <span id="page-title">{{ article.title }}</span></h1>
    {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
    {% if not HIDE_DATE %}<time datetime="{{ article.updated }}">{{ article.locale_updated }}</time>{% endif %}
</header>
<article>
    {{ article.content }}
</article>
{% endblock %}
