{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles %}        

        {# First item #}
        {% if loop.first %}
            <header>
                <h1><a href="{{ BASEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> : <a href="{{ BASEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h1>
                {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
            </header>

            <article>
                {{ article.content }}{% include 'comments.html' %}
            </article>
            {% if loop.length > 1 %}
                <section id="article-list">
                    <h2>All posts</h2>
                    <ol>
            {% endif %}
        {# other items #}
        {% else %} 
            <li><a href="{{ BASEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></li>
        {% endif %}
        {% if loop.length > 1 %}
            </ol>
            </section><!-- #article-list -->
        {% endif %}
    {% endfor %}
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
