{% extends "base.html" %}
{% block title %}{{ super() }} :{{ page.title }}{% endblock %}
{% block content %}        
<header>
    <h1><a href="{{ BASEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> :
        <a href="{{ BASEURL }}/{{ page.url }}" id="page-title">{{ page.title }}</a></h1>
</header>
<article>    
    {{ page.content }}
</article>
{% endblock %}
