{% extends "base.html" %}
{% block content %}
<header>
    <h1><a href="{{ BASEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> :
        Tags</h1>
</header>
<ul>
{% for tag, articles in tags %}
    <li><a href="{{ BASEURL }}/{{ tag.url }}">{{ tag }}</a></li>
{% endfor %}
</ul>
{% endblock %}

